html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}
*,*::after, *::before{
    box-sizing: inherit;
}

body{
    background-image: url('../img/fondo_degradado.jpg');
    background-size: cover;
    background-repeat: repeat; 
    background-position: top left; 
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    justify-content: center;
}