/*LOGIN-BUTTON*/
.wrapper{
    .btn{
        width: 100%;
        height: 45px;
        background: white;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px black;
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        a{
            text-decoration: none;
            color: #333
        }
    }

    .btn-confirmar{
        @extend .btn;
    }

    .btn-volver{
        @extend .btn;
        a{
            text-decoration: none;
            color: #333;
        }
    }
}


/*INICIAR SESIÓN BUTTON*/
.login-button {
    background: linear-gradient(to left, rgb(111, 1, 161), rgb(62, 5, 116));
    color: white;
    font-size: 14px;
    padding: 6px 18px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    transition: all 400ms ease-out;
    
    a{
        text-decoration: none;
        color: white;
    }

    &:hover{
        transform: translateY(-3%);
    }
}

/*BOTON DE CERRAR SESIÓN*/
.btn-cerrar{
    padding: 6px 18px;
    margin-bottom: 20px;
    background: white;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(109, 59, 138);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(87, 9, 117);
    a{
        text-decoration: none;
        color: #fffcfc
    }
}

.botones{
    justify-content: center;
    text-align: center;
    
    #btn-eliminar{
        width: 20%;
        height: 45px;
        background: rgb(20, 2, 49);
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgb(85, 70, 95);
        cursor: pointer;
        font-size: 16px;
        color: #ffffff;
        font-weight: 600;
    }

    #btn-actualizar{
        @extend #btn-eliminar;
    }

    #btn-buscar{
        @extend #btn-eliminar;
    }

    #btn-ver-todas{
        @extend #btn-eliminar;
    }

}

/* ACTUALIZAR */
#btnActu{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}