@import "../base/fonts";

#letrero{
    justify-content: center;
    align-items: center;
    margin: 64px 10px 10px 20px;
    min-height: 100px;
    text-align: center;
    font-family: 'letras-grandes';
    color: white;
}