@import "../base/fonts";

.inicio{
    justify-content: center;
    align-items: center;
  
    margin: 64px 10px;
    min-height: 100px;
    text-align: center;
    font-family: 'letras-grandes';
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px rgb(178, 114, 231);
    transition: all 400ms ease-out;
    cursor:auto;
    
    h4{
        padding: 23px;
    }

    &:hover{
        transform: translateY(-1%);
    }
    
}