@import "../base/fonts";

.item{
    position: absolute;
    font-size: 15px;
    width: 212px;
    height: 310px;
    text-align: justify;
    background-color: rgb(28, 2, 31);
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
    justify-content: center;
}