@import "../base/fonts";

.mx-3{
    justify-content: center;
    margin-top: 86px;
    h4{
        color: white;
        text-align: center;
    }

}

.accordion-item, .accordion-button{
    border: none;
    background-color: rgba(128, 0, 128, 0.568);
    color: white;
    font-family: 'letras-grandes';
}