@charset "UTF-8";
/* BASE */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  background-image: url("../img/fondo_degradado.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: top left;
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  justify-content: center;
  margin: 0;
}

@font-face {
  font-family: "letras-grandes";
  src: url("/src/fonts/Arima/Arima-VariableFont_wght.ttf");
}
/* GRID */
@media (max-width: 991px) {
  footer {
    font-size: 12px;
  }
  #navbarNav {
    display: none; /* Oculta el menú en pantallas pequeñas */
  }
  .navbar-toggler {
    display: block; /* Muestra el botón de toggler en pantallas pequeñas */
  }
  #next, #prev {
    left: 50px;
  }
  #next {
    left: unset;
    right: 50px;
  }
}
@media (min-width: 992px) {
  footer {
    font-size: 15px;
  }
  #navbarNav {
    display: flex; /* Muestra el menú en pantallas grandes */
  }
  .navbar-toggler {
    display: none; /* Oculta el botón de toggler en pantallas grandes */
  }
  #next, #prev {
    left: 400px;
  }
  #next {
    left: unset;
    right: 400px;
  }
}
/* COMPONENTS */
@font-face {
  font-family: "letras-grandes";
  src: url("/src/fonts/Arima/Arima-VariableFont_wght.ttf");
}
@media (max-width: 991px) {
  footer {
    font-size: 12px;
  }
  #navbarNav {
    display: none; /* Oculta el menú en pantallas pequeñas */
  }
  .navbar-toggler {
    display: block; /* Muestra el botón de toggler en pantallas pequeñas */
  }
  #next, #prev {
    left: 50px;
  }
  #next {
    left: unset;
    right: 50px;
  }
}
@media (min-width: 992px) {
  footer {
    font-size: 15px;
  }
  #navbarNav {
    display: flex; /* Muestra el menú en pantallas grandes */
  }
  .navbar-toggler {
    display: none; /* Oculta el botón de toggler en pantallas grandes */
  }
  #next, #prev {
    left: 400px;
  }
  #next {
    left: unset;
    right: 400px;
  }
}
.container-fluid {
  background-color: rgba(32, 5, 54, 0.87);
  border-radius: 10px;
  margin: 10px 15px;
  z-index: 1000;
  height: 50px;
}

.custom-toggler.navbar-toggler {
  border-color: 0;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("https://img.icons8.com/?size=100&id=STOBCZbtLToI&format=png&color=000000");
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.offcanvas-half {
  width: 50vw; /* Ocupa la mitad del ancho de la ventana */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  overflow-y: auto; /* Permite desplazamiento si el contenido excede la altura */
  position: fixed; /* Mantiene el offcanvas fijo */
  top: 0; /* Inicia desde la parte superior */
  left: 0; /* Inicia desde la parte izquierda */
  z-index: 1050; /* Asegúrate de que esté por encima de otros elementos */
}

.nav-link {
  font-family: "letras-grandes";
  position: relative;
  color: white;
}
.nav-link:hover {
  color: rgb(223, 117, 233);
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: rgb(223, 117, 233);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.nav-link:hover::before {
  width: 100%;
  visibility: visible;
}

#title {
  margin-right: 1em;
  color: white;
  font-family: "letras-grandes";
}

.offcanvas {
  background-color: rgb(128, 0, 128);
  color: white;
}

/*LOGIN BUTTON*/
.login-button {
  background: linear-gradient(to left, rgb(111, 1, 161), rgb(141, 41, 235));
  color: white;
  font-size: 14px;
  padding: 6px 18px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  transition: all 400ms ease-out;
}
.login-button:hover {
  transform: translateY(-3%);
}

@media (max-width: 991px) {
  footer {
    font-size: 12px;
  }
  #navbarNav {
    display: none; /* Oculta el menú en pantallas pequeñas */
  }
  .navbar-toggler {
    display: block; /* Muestra el botón de toggler en pantallas pequeñas */
  }
  #next, #prev {
    left: 50px;
  }
  #next {
    left: unset;
    right: 50px;
  }
}
@media (min-width: 992px) {
  footer {
    font-size: 15px;
  }
  #navbarNav {
    display: flex; /* Muestra el menú en pantallas grandes */
  }
  .navbar-toggler {
    display: none; /* Oculta el botón de toggler en pantallas grandes */
  }
  #next, #prev {
    left: 400px;
  }
  #next {
    left: unset;
    right: 400px;
  }
}
footer {
  color: white;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  min-height: 100px;
  padding: 20px;
  text-align: center;
}

.paginas_footer a {
  text-decoration: none;
  color: white;
}
.paginas_footer a:hover {
  color: rgb(26, 3, 44);
}

/* PAGES */
@font-face {
  font-family: "letras-grandes";
  src: url("/src/fonts/Arima/Arima-VariableFont_wght.ttf");
}
article {
  margin-top: 40px;
  justify-content: center;
}

.container {
  padding: 10px 0;
}

.wrapper {
  padding: 10px 10%;
}

.card_area {
  display: grid;
  margin-top: 50px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.card {
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(49, 17, 49);
  overflow: hidden;
  border: none;
}
.card img {
  height: 350px;
  width: 100%;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  height: 0;
  width: 100%;
  position: absolute;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(transparent, rgba(56, 23, 46, 0.479) 60%);
  padding: 0 50px;
  text-align: center;
  font-size: 15px;
  transition: height 0.5s;
  font-family: "letras-grandes";
  color: white;
}
.overlay h3 {
  margin-top: 55%;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
}

.card:hover .overlay {
  height: 100%;
}

@font-face {
  font-family: "letras-grandes";
  src: url("/src/fonts/Arima/Arima-VariableFont_wght.ttf");
}
@media (max-width: 991px) {
  footer {
    font-size: 12px;
  }
  #navbarNav {
    display: none; /* Oculta el menú en pantallas pequeñas */
  }
  .navbar-toggler {
    display: block; /* Muestra el botón de toggler en pantallas pequeñas */
  }
  #next, #prev {
    left: 50px;
  }
  #next {
    left: unset;
    right: 50px;
  }
}
@media (min-width: 992px) {
  footer {
    font-size: 15px;
  }
  #navbarNav {
    display: flex; /* Muestra el menú en pantallas grandes */
  }
  .navbar-toggler {
    display: none; /* Oculta el botón de toggler en pantallas grandes */
  }
  #next, #prev {
    left: 400px;
  }
  #next {
    left: unset;
    right: 400px;
  }
}
.inicio {
  justify-content: center;
  align-items: center;
  margin: 80px 15px;
  min-height: 100px;
  text-align: center;
  font-family: "letras-grandes";
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px rgb(178, 114, 231);
  transition: all 400ms ease-out;
  cursor: auto;
}
.inicio h4 {
  padding: 23px;
}
.inicio:hover {
  transform: translateY(-1%);
}

/*SLIDER DE CARTAS*/
.slider {
  position: relative;
  width: 100%;
  height: 330px;
  overflow: hidden;
  justify-content: center;
}
.slider .item {
  position: absolute;
  font-size: 15px;
  width: 212px;
  height: 310px;
  text-align: justify;
  background-color: rgb(28, 2, 31);
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
  justify-content: center;
}

#next, #prev {
  position: absolute;
  top: 40%;
  color: rgb(255, 167, 255);
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
}

/*ACORDEON DE CARDS*/
.mx-3 h4 {
  color: white;
  text-align: center;
}

.accordion-item, .accordion-button {
  border: none;
  background-color: rgba(128, 0, 128, 0.568);
  color: white;
  font-family: "letras-grandes";
}

@font-face {
  font-family: "letras-grandes";
  src: url("/src/fonts/Arima/Arima-VariableFont_wght.ttf");
}
.mx-3 {
  justify-content: center;
  margin-top: 86px;
}
.mx-3 h4 {
  color: white;
  text-align: center;
}

.accordion-item, .accordion-button {
  border: none;
  background-color: rgba(128, 0, 128, 0.568);
  color: white;
  font-family: "letras-grandes";
}

@font-face {
  font-family: "letras-grandes";
  src: url("/src/fonts/Arima/Arima-VariableFont_wght.ttf");
}
article {
  margin-top: 40px;
  justify-content: center;
}

.container {
  padding: 10px 0;
}

.wrapper {
  padding: 10px 10%;
}

.card_area {
  display: grid;
  margin-top: 50px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.card {
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(49, 17, 49);
  overflow: hidden;
  border: none;
}
.card img {
  height: 350px;
  width: 100%;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  height: 0;
  width: 100%;
  position: absolute;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(transparent, rgba(56, 23, 46, 0.479) 60%);
  padding: 0 50px;
  text-align: center;
  font-size: 15px;
  transition: height 0.5s;
  font-family: "letras-grandes";
  color: white;
}
.overlay h3 {
  margin-top: 55%;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
}

.card:hover .overlay {
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
